In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.ticker import MaxNLocator

#TODO: change to relative file path
lou_file_path = r"C:\Users\jmpur\Downloads\Louisville_Metro_KY_-_Animal_Service_Intake_and_Outcome.csv"
sonoma_file_path = r"C:\Users\jmpur\Downloads\Animal_Shelter_Intake_and_Outcome.csv"

lou_df = pd.read_csv(lou_file_path)
sonoma_df = pd.read_csv(sonoma_file_path)

lou_df = lou_df.drop(columns=['kennel', 'animalid', 'bites', 'sourcezipcode', 'ObjectId'])
sonoma_df = sonoma_df.drop(columns=['Name', 'Date Of Birth', 'Impound Number', 'Kennel Number', 
                        'Intake Condition', 'Outcome Condition', 'Intake Jurisdiction', 
                        'Outcome Jurisdiction', 'Location', 'Count'] )

lou_df = lou_df.rename(columns={'animaltype': 'Type', 'breed': 'Breed', 'color': 'Color', 
                                'sex': 'Sex', 'petsize': 'Size', 'animalid': 'Animal ID',
                                'indate': 'Intake Date', 'outdate': 'Outcome Date', 'intype': 'Intake Type',
                                'insubtype': 'Intake Subtype', 'outtype': 'Outcome Type', 'outsubtype': 'Outcome Subtype',
                                'jurisdiction': 'Outcome Zip Code'})

# removes rows with blank values
lou_df = lou_df.dropna()
sonoma_df = sonoma_df.dropna()

# lou_df

In [2]:
lou_df.dtypes
# the Intake Date & Outcome Date columns are currently objects
# let's change them to datetime

Outcome Zip Code    object
Intake Type         object
Intake Subtype      object
Intake Date         object
surreason           object
Outcome Type        object
Outcome Subtype     object
Outcome Date        object
Type                object
Sex                 object
Size                object
Color               object
Breed               object
dtype: object

In [2]:
lou_df['Intake Date'] = pd.to_datetime(lou_df['Intake Date'], errors='coerce')
lou_df['Outcome Date'] = pd.to_datetime(lou_df['Outcome Date'], errors='coerce')

# Creates a new 'Days in Shelter' column that calculates difference from Outcome Date and Intake Date
lou_df['Days in Shelter'] = (lou_df['Outcome Date'] - lou_df['Intake Date']).dt.days

lou_df

,Outcome Zip Code,Intake Type,Intake Subtype,Intake Date,surreason,Outcome Type,Outcome Subtype,Outcome Date,Type,Sex,Size,Color,Breed,Days in Shelter
0,40243,STRAY,FIELD,2021-09-02,STRAY,ADOPTION,REFERRAL,2021-09-07,DOG,N,LARGE,BL BRINDLE,PIT BULL / MIX,5
1,40215,OWNER SUR,EUTH REQ,2019-01-11,EUTH MED,EUTH,REQUESTED,2019-01-11,DOG,M,PUPPY,BLACK / RED,DOBERMAN PINSCH,0
2,40291,STRAY,OTC,2020-01-10,STRAY,RTO,IN KENNEL,2020-01-10,DOG,N,MED,BROWN,BASSET HOUND / BASSET HOUND,0
3,40222,CONFISCATE,OWNER DIED,2020-09-21,OWNER DIED,EUTH,INHUMANE,2020-09-21,DOG,N,LARGE,YELLOW,LABRADOR RETR,0
4,40216,STRAY,OTC,2022-11-14,STRAY,RTO,IN KENNEL,2022-11-19,DOG,M,LARGE,GOLD,GOLDEN RETR,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54481,40202,STRAY,FIELD,2020-02-22,STRAY,RTO,IN KENNEL,2020-02-22,DOG,S,SMALL,TAN / WHITE,CHIHUAHUA LH,0
54484,40210,OWNER SUR,EUTH REQ,2020-02-27,AGG ANIMAL,TRANSPORT,RESCUE GRP,2020-03-04,DOG,S,LARGE,BROWN,BOXER / GERM SHEPHERD,6
54485,40208,STRAY,OTC,2020-03-04,STRAY,TRANSFER,KHS,2020-03-12,DOG,N,LARGE,BR BRINDLE,DUTCH SHEPHERD / MIX,8
54490,40219,STRAY,OTC,2023-03-31,STRAY,FOSTER,TIME/SPACE,2023-04-15,DOG,N,LARGE,BROWN / BLACK,BELG MALINOIS / ALASKAN HUSKY,15
54491,40204,STRAY,OTC,2023-04-01,STRAY,TRANSFER,KHS,2023-04-04,CAT,M,KITTN,BLACK / BLACK,DOMESTIC SH,3

In [4]:
sonoma_df.dtypes

Type                 object
Breed                object
Color                object
Sex                  object
Size                 object
Animal ID            object
Intake Date          object
Outcome Date         object
Days in Shelter       int64
Intake Type          object
Intake Subtype       object
Outcome Type         object
Outcome Subtype      object
Outcome Zip Code    float64
dtype: object

In [3]:
sonoma_df['Intake Date'] = pd.to_datetime(sonoma_df['Intake Date'], errors='coerce')
sonoma_df['Outcome Date'] = pd.to_datetime(sonoma_df['Outcome Date'], errors='coerce')
sonoma_df['Outcome Zip Code'] = sonoma_df['Outcome Zip Code'].astype('int')

# remove rows with dates before 2019 (because Louisville date only goes back to 2019)
sonoma_df = sonoma_df.loc[sonoma_df['Intake Date'] >= pd.to_datetime('2019-01-01')]

sonoma_df

,Type,Breed,Color,Sex,Size,Animal ID,Intake Date,Outcome Date,Days in Shelter,Intake Type,Intake Subtype,Outcome Type,Outcome Subtype,Outcome Zip Code
0,DOG,MALTESE/POODLE TOY,WHITE,Spayed,TOY,A328255,2023-07-05,2023-08-08,34,STRAY,FIELD,ADOPTION,SCAS WEB,95441
1,CAT,DOMESTIC SH,BLACK,Unknown,KITTN,A420799,2023-09-30,2023-09-30,0,STRAY,OVER THE COUNTER,TRANSFER,PETLUMA PP,94952
2,CAT,DOMESTIC LH,BLACK/WHITE,Neutered,SMALL,A420773,2023-09-29,2023-09-30,1,STRAY,OVER THE COUNTER,RETURN TO OWNER,OVER THE COUNTER_MCHIP,94901
3,CAT,DOMESTIC SH,BRN TABBY,Male,KITTN,A420810,2023-09-30,2023-09-30,0,STRAY,OVER THE COUNTER,TRANSFER,HSSC,95407
4,CAT,DOMESTIC SH,ORG TABBY/WHITE,Spayed,KITTN,A417889,2023-05-30,2023-08-08,70,STRAY,OVER THE COUNTER,ADOPTION,WALKIN,95404
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26609,CAT,DOMESTIC SH,WHITE/BLACK,Neutered,KITTN,A389577,2019-07-20,2019-07-30,10,TRANSFER,PRIV_SHELT,ADOPTION,WALKIN,95446
26610,CAT,DOMESTIC SH,BRN TABBY,Spayed,SMALL,A408062,2021-12-07,2022-02-02,57,OWNER SURRENDER,OVER THE COUNTER,TRANSFER,PETSLIFELN,95476
26611,DOG,YORKSHIRE TERR/MIX,TAN,Spayed,TOY,A411802,2022-05-31,2022-06-02,2,STRAY,PHONE,RETURN TO OWNER,OVER THE COUNTER_MCHIP,95407
26616,DOG,SIBERIAN HUSKY,BLACK/WHITE,Neutered,LARGE,A394200,2021-10-29,2021-10-29,0,STRAY,OVER THE COUNTER,RETURN TO OWNER,OVER THE COUNTER_WEB,95401
26621,CAT,DOMESTIC SH,BLUE CREAM,Spayed,KITTN,A412870,2022-08-16,2022-09-29,44,STRAY,OVER THE COUNTER,ADOPTION,WALKIN,95403

In [ ]:
# TODO: change values of intake/outcome/etc (e.g., lou_df says "EUTH" but sonoma_df says "EUTHANIZED")

In [ ]:
# TODO: now concatenate
# df = pd.concat([lou_df, sonoma_df], ignore_index=True)

In [ ]:
# create columns that pull years from the indate & outdate columns
# place the created columns next to the indate & outdate columns
df.insert(6, 'indate year', pd.to_datetime(df['indate']).dt.year)
df.insert(11, 'outdate year', pd.to_datetime(df['outdate']).dt.year)

df

In [ ]:
#How many total animals are in this study?
print("Total animals:", df.animalid.nunique())

In [ ]:
#How many of EACH animal is in the study?
print(df.value_counts('animaltype').head()) 
print(df.value_counts('breed').head())

In [ ]:
# why were the animals taken in? why were they taken out?
print(df.intype.value_counts(), df.outtype.value_counts())
#, df.insubtype.value_counts()

In [ ]:
# conn = sqlite3.connect('animal_data.db')
# cur = conn.cursor()

# df.to_sql('table1', conn, if_exists='replace', index=False)

# test1 = pd.read_sql_query("SELECT * FROM table1 WHERE intype='STRAY'", conn)
# print(test1)

# conn.close()

In [ ]:
#line graph
#number of intakes over the years
#print(df.value_counts('indate year'), df.value_counts('outdate year'))
indate_df = df.value_counts('indate year').reset_index().sort_values(['indate year'])
indate_df.columns = ['year', 'count']

print(indate_df)

#change X axis to only show integers
ax = plt.figure().gca()
ax.xaxis.set_major_locator(MaxNLocator(integer=True))

plt.plot(indate_df['year'], indate_df['count'])
plt.xlabel('Year')
plt.ylabel('Animals taken in')
plt.show()

In [ ]:
#bar graph
#how many of each animal did LMAS serve?
animal_count_df = df.value_counts('animaltype').reset_index()
animal_count_df.columns = ['animal', 'count']
animal_count_df.sort_values(['count'])

plt.bar(animal_count_df['animal'], animal_count_df['count'])
plt.xlabel('Animal')
plt.ylabel('Count')
plt.show()

In [ ]:
#what are the most common dog breeds in LMAS?

dog_df = df.loc[df['animaltype'] == 'DOG']

# print(dog_df.value_counts('intype'))
# print(dog_df.value_counts('outtype'))
print(dog_df.value_counts('breed').head(10))

# explore dog adoption stats
# adopted_dog_df = dog_df.loc[dog_df['outtype'] == 'ADOPTION']
# print(adopted_dog_df.value_counts('outsubtype'))

In [ ]:
#where are these animals coming from (ZIP codes)?

print(df.value_counts('sourcezipcode').head(10))
# significant majority of animals are from 40218, the same zip code as Lou Animal Services east campus
# Lou Animal Services west campus is 40215